body {
  display: flex;
  justify-content: center;
  background-color: rgb(242, 219, 93);
}

header {
  background-color: rgb(242, 219, 93);
  width: 100%;
  height: 40px;
  padding: 0 60px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: flex-end;
}

header a {
  text-decoration: none;
  margin: 0 10px;
  color: black;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
}
header a:hover {
  color: rgb(195, 136, 126);
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0 0 0;
}

.sheltr-logo {
  width: 400px;
}

.tagline {
  margin-top: 20px;
  font-style: italic;
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
}
.logo {
  text-align: center;
  padding-bottom: 20px;
}

.cities {
  border-radius: 4px;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  border: none;
  padding: 5px;
  width: 300px;
  text-align: center;
}
.content-container {
  height: 600px;
  width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

#map {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  padding-right: 20px;
}

.outer-shelter-data {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.913);
  border-radius: 25px;
  overflow: hidden;
  margin-left: 20px;
}
.shelter-data {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.913);
  border-radius: 25px;
  overflow: auto;
  height: 100%;
}

.shelter-placeholder-text {
  margin: 0 150px 0 150px;
  color: rgba(0, 0, 0, 0.171);
  text-align: center;
  font-family: "Quicksand", sans-serif;
  padding-top: 200px;
}

.shelter-list {
  display: flex;
  flex-direction: column;
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5%;
  flex-wrap: wrap;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
}

.dropdown {
  text-align: center;
  padding-bottom: 40px;
  font-family: "Quicksand", sans-serif;
}

/* ABOUT PAGE --------------------------------------------> */
.content-container-about {
  display: flex;
  justify-content: center;
}

.aboutContainer {
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  border-radius: 10px;
  padding: 20px;
  margin: 0 400px;
  font-family: "Quicksand", sans-serif;
}

.aboutContainer p {
  margin: 0;
}
/* mobile portrait & landscape */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .content-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .sheltr-logo {
    width: 60%;
    height: 40%;
  }
  .dropdown {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
    padding-bottom: 40px;
  }
  #map {
    display: flex;
    justify-content: center;
    height: 20em;
    width: 90%;
    border-radius: 25px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .moving-text-tagline {
    display: flex;
    justify-content: center;
    margin-top: 200px;
  }
  .logo {
    margin-top: 30px;
  }
  .shelter-data {
    display: flex;
    justify-content: center;

    height: 30em;
    width: 100%;
  }
  .outer-shelter-data {
    display: flex;
    margin-bottom: 300px;
    margin-right: 20px;
    width: 90%;
    height: 40%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #map {
    display: flex;
    justify-content: center;
    height: 20em;
    width: 90%;
    border-radius: 25px;
    padding-right: 20px;
    margin-right: 50px;
    margin-left: 50px;
  }
  .shelter-data {
    display: flex;
    justify-content: center;
    height: 30em;
    width: 100%;
  }
  .outer-shelter-data {
    display: flex;
    width: 90%;
    height: 35%;
    margin-bottom: 300px;
    margin-right: 30px;
    margin-left: 30px;
  }
  .content-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
